<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rockywebdeveloper.marblemadness" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.rockywebdeveloper.marblemadness.Globals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TwoPlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GamesPlayActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>

        <receiver
            android:name=".WifiP2pBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <activity
            android:name=".MainMenuActivity"
            android:label="MainMenu" >
        </activity>

        <activity
            android:name=".PeerListActivity"
            android:label="PeerListActivity" >
        </activity>

        <activity
            android:name=".ConnectedActivity"
            android:label="ConnectedActivity" >
        </activity>

        <activity
            android:name=".WifiP2pActivity"
            android:label="WifiP2pActivity" >
        </activity>
    </application>

</manifest>
